
@font-face {
  font-family: 'Proxima Nova ExCn';
  src: url('../fonts/ProximaNovaExCn-Light.woff') format('woff');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}
  @font-face {
    font-family: 'Proxima Nova ExCn';
    src: url('../fonts/ProximaNovaExCn-Regular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Proxima Nova ExCn';
    src: url('../fonts/ProximaNovaExCn-Semibold.woff') format('woff');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
  }